<div id="chat-container">
    <div id="upper-chat">
        <button id="disconnect" (click)="disconnect()">
            disconnect
        </button>
        <div id="users-list">
            Users in room:
            <ul id="users">
                <li id="user" *ngFor="let user of usersList">{{ user.name }} ,</li>
            </ul>
        </div>
    </div>
    
    <div #scrollMe id="message-display">
        <ul id="messages">
            <li *ngFor="let message of messages" [ngClass]=" message.currentUser ? 'current-user-message' : 'non-current-user-message' ">{{message.username}} : {{message.message}}</li>
        </ul>
    </div>
    <div id="input-area">
        <input [(ngModel)]="messageInput" [ngModelOptions]="{ standalone: true }" type="text" id="message-input" placeholder="message">
        <button id="send-message" (click)="sendMessage()">Send</button>
    </div>
</div>